# Compiled Object files
*.slo
*.lo
*.o
*.obj
!bunny.obj
!crab_2m.obj
!tyra.obj
*.txt
*.off
*.rtf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

build
cmake-build-debug
model


/.github/
/cmake/
/config/
/dataset/
/thingi10k_result/
/qslim/sxqslim.egg-info
/Dockerfile
/install_packages.sh
/run.sh
/.idea

